@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: 'CabinetGrotesk-Variable', sans-serif;
  }
}

@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src:
    url('../public/fonts/CabinetGrotesk-Variable.woff2') format('.woff2'),
    url('../public/fonts/CabinetGrotesk-Variable.woff') format('.woff'),
    url('../public/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

.cabinet {
  font-family: 'CabinetGrotesk-Variable', sans-serif !important;
}

* {
  box-sizing: border-box;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
