@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Switzer-Variable', sans-serif;
}

@font-face {
  font-family: 'Switzer-Variable';
  src:
    url('../components/ui/fonts/Switzer-Variable.woff2') format('.woff2'),
    url('../components/ui/fonts/Switzer-Variable.woff') format('.woff'),
    url('../components/ui/fonts/Switzer-Variable.ttf') format('.ttf');
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
